*.o
*.a
*.so.1
*~
.compiler-flags
ft-server
send-text
send-image
send-video
simple-animation
simple-example
pong-game
game-client
*.pyc
.envrc
.direnv
/bindings/python/build/lib.linux-aarch64-cpython-311/rgbmatrix/__init__.py
/bindings/python/build/lib.linux-aarch64-cpython-311/rgbmatrix/core.cpython-311-aarch64-linux-gnu.so
/bindings/python/build/lib.linux-aarch64-cpython-311/rgbmatrix/graphics.cpython-311-aarch64-linux-gnu.so
/bindings/python/dist/rgbmatrix-0.0.1-py3.11-linux-aarch64.egg
/bindings/python/rgbmatrix/core.cpp
/bindings/python/rgbmatrix/core.cpython-311-aarch64-linux-gnu.so
/bindings/python/rgbmatrix/graphics.cpp
/bindings/python/rgbmatrix/graphics.cpython-311-aarch64-linux-gnu.so
/bindings/python/rgbmatrix.egg-info/PKG-INFO
/bindings/python/rgbmatrix.egg-info/SOURCES.txt
/bindings/python/rgbmatrix.egg-info/dependency_links.txt
/bindings/python/rgbmatrix.egg-info/top_level.txt
/examples-api-use/c-example
/examples-api-use/clock
/examples-api-use/demo
/examples-api-use/input-example
/examples-api-use/ledcat
/examples-api-use/minimal-example
/examples-api-use/pixel-mover
/examples-api-use/scrolling-text-example
/examples-api-use/text-example
/lib/compiler-flags
/utils/led-image-viewer
/utils/text-scroller
/utils/video-viewer
